@import url(reset.css);
body {
  width: 100%;
  border: black solid 1px;
  padding: 10% 0 10% 0;
}
section {
  width: 60%;
  height: 100px;
  margin: auto;
}
section div {
  width: calc(100%/3);
  height: 100px;
  margin: 0;
  float: left;
}
.green {
  background-color: green;
}
.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}
